/*Geral*/
/*Resetando margin e padding padrões do navegador*/
body{
  margin: 0;
  padding: 0;
}

/*Cabeçalho da página*/
header{
  background-color: #2A2A2A;
  width: 100%;
  height: 55px;
}

#logo{
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10%;
  width: 150px;
}

header p#username{
  float: right;
  color: white;
  margin-right: 8%;
  margin-top: 0%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  color: white;
  font-weight: 900;
  position: absolute;
  overflow: visible;
}

header ul{
  display: flex;
  float: right;
  margin-right: 5%;
}

header .dropbtn{
  color: white;
  border: none;
  background-color: #2A2A2A;
  padding-left: 100%;
}

header .dropbtn:focus{
  outline: none;
}

.dropdown-content a{
  display: block;
  text-align: center;
  text-decoration: none;
   color: black;
   margin-bottom: 5%;
}

.dropdown-content{
  background-color: rgb(234,234,234);
  display: none;
  position: absolute;
  margin: auto;
  width: 10%;
  z-index: 1;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.line{
  background-color: rgb(97,97,97);
  background-size: cover;
  position: absolute;
  top: 8.8%;
  bottom: 90.1%;
  width: 100%;
  overflow: hidden;
}
/*Corpo da página*/

.background{
  background-color: rgb(240,240,240);
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 9.9%;
  bottom: 0;
  width: 100%;
  height: 150%;
}

.main{
  background-color: white;
  background-size: cover;
  position: absolute;
  border-style: solid;
  border-width: thin;
  border-color: rgb(145,145,145);
  top: 10%;
  bottom: 10%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.perfilheader{
  background-color: rgb(240,240,240);
  background-size: cover;
  overflow: hidden;
  position: absolute;
  border-style: solid;
  border-width: thin;
  border-color: rgb(145,145,145);
  top: 5%;
  left: 7%;
  width: 42%;
  height: 8%;
}

.perfilheader p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  color: rgb(140,140,140);
  font-weight: 500;
  font-size: 120%;
  margin-left: 10%;
  margin-top: 5%;
  vertical-align: middle;
}

.perfilcontent{
  background-color: rgb(240,240,240);
  background-size: cover;
  overflow: hidden;
  position: absolute;
  border-style: solid;
  border-width: thin;
  border-color: rgb(145,145,145);
  top: 13%;
  left: 7%;
  width: 42%;
  height: 80%;
  display: inline-block;
}

.medalhasheader{
  background-color: rgb(240,240,240);
  background-size: cover;
  overflow: hidden;
  position: absolute;
  border-style: solid;
  border-width: thin;
  border-color: rgb(145,145,145);
  top: 5%;
  left: 52%;
  width: 42%;
  height: 8%;
}

.medalhasheader p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  color: rgb(140,140,140);
  font-weight: 500;
  font-size: 120%;
  margin-left: 10%;
  margin-top: 5%;
  vertical-align: middle;
}

.medalhascontent{
  background-color: rgb(240,240,240);
  background-size: cover;
  overflow: hidden;
  position: absolute;
  border-style: solid;
  border-width: thin;
  border-color: rgb(145,145,145);
  top: 13%;
  left: 52%;
  width: 42%;
  height: 80%;
}

.avatarcontainer{
  background-color: white;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  border-style: solid;
  border-width: thin;
  border-color: rgb(145,145,145);
  top: 5%;
  bottom: 60%;
  width: 35%;
  max-width: 35%;
  max-height: 35%;
  height: 22%;
  margin-left: 32.5%;
  margin-right: 32.5%;
}

.avatarcontainer img{
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.editarfotocontainer{
  top: 27.1%;
  position: relative;
  text-align: center;
}

.perfilcontent #editarfoto{
  border: none;
  background-color: rgb(240,240,240);
  color: rgb(145,145,145);
}

.perfilcontent #editarfoto:focus{
  outline: none;
}

.perfilcontent p#username{
  position: relative;
  top: 28%;
  text-align: center;
  font-size: 120%;
}

.perfilcontent p#bio{
  width: 60%;
  height: 10%;
  max-height: 10%;
  top: 30%;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  text-align: center;
}

.editardescriçãocontainer{
  position: relative;
  top: 45%;
  text-align: center;
}

.perfilcontent #editardescrição{
  border: none;
  background-color: rgb(240,240,240);
  color: rgb(145,145,145);
}

.perfilcontent #editardescrição:focus{
  outline: none;
}

.redessocias{
  position: relative;
  top: 50%;
  text-align: center;
}

.perfilcontent ul{
  display: inline;
  vertical-align: middle;
}

.perfilcontent img#facebook, img#linkedin, img#twitter{
  margin-right: 5%;
  vertical-align: middle;
}

.perfilcontent img#facebook{
  width: 9%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.perfilcontent img#linkedin{
  width: 8.8%;
  padding-top: 0.8%;
  padding-bottom: 1.6%;
}

.perfilcontent img#twitter{
  width: 9.5%;
  padding-top: 1.4%;
  padding-bottom: 2%;
}
/*Quadro de medalhas*/
li{
  display: inline;
}

li p{
  margin-bottom: 7%;
}

.quadrodemedalhas{
  top: 0.5%;
  position: relative;
}

.exemplomedalhas{
  margin-top: 12%;
  margin-left: 80%;
  overflow: visible;
  position: relative;
  z-index: 1;
}

.exemplomedalhas img{
  width: 65%;
}
