<div style="background-color: white; width: 50%; height: 50%;">
        <form>
            <div>
    
                <h4>Categoria:</h4>
    
                <select>
                        <option value="sql">SQL</option>
                        <option value="python">Python</option>
                </select>
    
            </div>
    
            <div>
                <h4>Questão:</h4>
                <input type="text">
            </div>
    
            <div>
                <h4>Letra a:</h4> <textarea cols="50" rows="6"></textarea><input type="radio" name="answer">
                <h4>Letra b:</h4> <textarea cols="50" rows="6"></textarea><input type="radio" name="answer">
                <h4>Letra c:</h4> <textarea cols="50" rows="6"></textarea><input type="radio" name="answer">
                <h4>Letra d:</h4> <textarea cols="50" rows="6"></textarea><input type="radio" name="answer">
            </div>
    
            <div>
                <button>Submit</button>
            </div>
        </form>
    </div>